/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
      ITEMS / POSTS / NEWS
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.items-html {
  h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
  }
}

.divider {
  display: block;
  width: 100%;
  max-width: 800px;
  height: 1px;
  background-color: #ccc;
  margin: 3rem auto;
}

.item-create {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  label, input, button, textarea {
    display: block;
    margin: 1rem auto;
  }
  label {
    text-align: left;
    padding-left: 1.1rem;
  }
  input {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    max-width: 350px;
    padding: 8px;
    font-size: 0.8em;
    background-color: #fff;
    border-bottom: 2px solid #3885CC;
    border-top: none;
    border-right: none;
    border-left: none;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
    &:focus {
      background-color: #ebf2f9;
    }
  }
  textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    padding: 10px;
    border: 2px solid #3885CC;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
    &:focus {
      background-color: #ebf2f9;
    }
  }
  button {
    font-family: 'Raleway', sans-serif;
    background-color: #3885CC;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #3885CC;
    border-radius: 4px;
    width: 100%;
    max-width: 150px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
    &:hover {
      background-color: #fff;
      color: #3885CC;
      border: 2px solid #3885CC;
    }
  }
}

.item-wrapper{
  background-color: #f4f4f4;
  margin: 3rem;
  padding: 3rem;
  img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
  }
  span {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin: 1rem auto;
    display: block;
  }
  p {
    text-align: center;
  }
}