/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
      SIGN UP
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.btn-login-signup {
  font-family: 'Raleway', sans-serif;
  background-color: #3885CC;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #3885CC;
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
  &:hover {
    background-color: #fff;
    color: #3885CC;
    border: 2px solid #3885CC;
  }
}

.signup-errmsg, .login-errmsg {
  font-size: 1em;
  text-align: center;
  color: red;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px dashed #000;
}

.signup-wrapper, .login-wrapper {
  >input {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    &:focus {
      outline: none;
      border: 2px solid #4CBA48;
    }
  }
  >button {
    font-family: 'Raleway', sans-serif;
    background-color: #4CBA48;
    color: #fff;
    font-size: 1em;
    display: block;
    margin: 20px auto;
    border: 2px solid #4CBA48;
    border-radius: 4px;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
    &:hover {
      background-color: #fff;
      color: #4CBA48;
      border: 2px solid #4CBA48;
    }
  }
}

// .profile-info {
//   margin-top: 40px;
//     >div {
//       display: inline-block;
//     }
//     >span {
//       display: block;
//     }
//     >input {
//       margin-bottom: 20px;
//     }
//     >#update-info {
//       display: block;
//       margin: 20px 0;
//     }
//     >.new-pw-div {
//       display: block;
//       margin-top: 10px;
//     }
// }

// .newinfo-input {
//   background-color: #f2f2f2;
//   font-size: 0.8em;
//   border: 1px solid #000;
//   padding: 5px;
//   text-align: center;
// }

#update-info {
  font-family: 'Raleway', sans-serif;
  background-color: #4CBA48;
  color: #fff;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  border: 2px solid #4CBA48;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
  &:hover {
    background-color: #fff;
    color: #4CBA48;
    border: 2px solid #4CBA48;
  }
}

