/*================================Profile Css======================================*/
/*=================================================================================*/
#profile {
  display:flex;
  flex-direction: column;
  width:80%;
  margin:0 auto;
}

#setting{
  width:80%;
  margin:0 auto;
}

#picture{
  margin:10vw auto;
}

.settingElement{
  display:flex;
  justify-content: space-between;
  margin:50px 0px 50px 0px;
    &:first-child{
      margin-top:0px;
    }
}

.profile-input {
  width: 100%;
  max-width: 400px;
  .newinfo-input {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #3885CC;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 8px;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
    &:focus {
      background-color: #ebf2f9;
    }
  }
}

.edit-profile {
  font-size: 2em;
  font-weight: 600;
}